In [3]:
import pandas as pd

# create a sample dataset
data = {'name': ['John', 'Bob', 'Alice', 'Emily'], 'age': [25, 30, 18, 22]}
df = pd.DataFrame(data)

# add a new column called 'gender'
df['gender'] = ['Male', 'Male', 'Female', 'Female']

# print the updated dataset
print(df)

    name  age  gender
0   John   25    Male
1    Bob   30    Male
2  Alice   18  Female
3  Emily   22  Female

In [6]:
import pandas as pd

# create a sample dataset
data = {'name': ['John', 'Bob', 'Alice', 'Emily'], 'age': [25, 30, 18, 22]}
df = pd.DataFrame(data)

# add an empty column called 'salary'
df['salary'] = pd.DataFrame(columns=['salary'])

# print the updated dataset
print(df)

    name  age salary
0   John   25    NaN
1    Bob   30    NaN
2  Alice   18    NaN
3  Emily   22    NaN

In [7]:
import pandas as pd

# create a sample dataset
data = {'name': ['John', 'Bob', 'Alice', 'Emily'], 'age': [25, 30, 18, 22], 'salary': [50000, 60000, 45000, 55000]}
df = pd.DataFrame(data)

# rearrange the columns in the dataset
df = df.reindex(columns=['name', 'salary', 'age'])

# print the updated dataset
print(df)

    name  salary  age
0   John   50000   25
1    Bob   60000   30
2  Alice   45000   18
3  Emily   55000   22

# Append Data Set

In [ ]:
#To append two Excel files with different formats into one format using Pandas in Python, you can follow these steps:

#1.Import the Pandas library:
import pandas as pd

#2.Load the first Excel file into a Pandas DataFrame:

df1 = pd.read_excel('file1.xlsx')

#3.Load the second Excel file into a Pandas DataFrame, but only read in the columns that match the desired format:
#In this example, we assume that the desired format only includes the 'Name', 'Age', and 'Salary' columns.

df2 = pd.read_excel('file2.xlsx', usecols=['Name', 'Age', 'Salary'])

#4.Rename the columns in the second DataFrame to match the column names in the first DataFrame:
#In this example, we assume that the column names in the first DataFrame are 'name', 'age', and 'salary'.
df2 = df2.rename(columns={'Name': 'name', 'Age': 'age', 'Salary': 'salary'})

#5.Append the second DataFrame to the first DataFrame:
#In this example, we assume that the two DataFrames have the same column order.
df = df1.append(df2, ignore_index=True)

#6.Write the combined DataFrame to a new Excel file:
#In this example, we assume that we want to write the combined DataFrame to a new Excel file
# named 'combined_file.xlsx', and that we don't want to include the index column in the output file.

df.to_excel('combined_file.xlsx', index=False)